html {
  /* background-color: #FFDCA5; */
}

/* Colurs: https://coolors.co/000000-444554-ffeed3-ef9c97-131826 */

body {
  font-weight: 100;
  font-family: sans-serif;
  color: #FFEED3;
  background-color: #131826;
  text-align: center;
  font-size:16px;
  line-height:2;
  /* letter-spacing: 0.1em; */
  min-height:100vh;
  margin-top:2em;
  margin: 0 1em;
}

li small {
  display: block;
  font-size: 1rem;
}

.title {
  text-align: left;
  margin-bottom: 0;
  line-height: 1.3;
}

.justify {
  text-align: justify;
}

.intro {
  font-size: 2em;
  text-align: justify;
}

.intro-h1 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #FFDCA5;
  border-bottom: solid 1px #515252;
}

a:hover {
  color: #FFDCA5;
  text-decoration: none;
  border-bottom: solid 1px #FFDCA5;
}

.a-nav {
  color: rgba(255,220,165,0.7);
  text-decoration: none;
}

.a-nav:visited {
  text-decoration: none;
}

.a-nav:hover{
  text-decoration: none;
  color: rgba(255,220,165,0.9);
}

.m-1{
  margin: 0 1em;
}

.nav a:link, .nav a:visited {
  display: inline-block;
  border-top: solid 1px #FFDCA5;
  border-bottom: solid 1px #FFDCA5;
  padding: 0.8em;
  width: 8em;
  color: #FFDCA5;
  text-decoration: none;
}

.nav {
  padding-top: 3em;
}

.nav li {
  display: inline;
}

.nav-li {
  border-top: solid 1px;
  border-bottom: solid 1px;
}

hr {
  border: solid 1px rgba(255,220,165,0.3);
  margin: 5em 0;
}

footer {
  font-size: 0.9rem;
  text-align: left;
}

@media (min-width: 740px){
  body{
    font-size:18px;
    margin-left: 10em;
    margin-right: 10em;
  }

  .post {
    margin: 0 5em;
  }

  .title{
    font-size:5em
  }
}

@media (min-width: 1200px){
  .title{
    font-size:6em
  }
}

/* html{
  background-color:#d9a7e4
}
body{
  text-align:center;
  background-color:#081f51;
  color:#9a7eb8;
  font-family:sans-serif;
  font-weight:30;
  font-size:16px;
  line-height:1.8;
  min-height:100vh;
  }




    h1,h2,h3{
      color:#d9a7e4;
      font-weight:600;
      margin-top:2.5em;
      margin-bottom:1em;
      line-height:1em
    }
    h1{
      margin-top:0.4em;
      font-size:4em;
      line-height:0.9em
    }

    p{margin-bottom:1em}ul small{display:block;margin-top:-0.2em;margin-bottom:0.5em}li{margin-bottom:0.6em}a:link,a:visited{color:#d9a7e4;text-decoration:none;border-bottom:solid 1px #1d2d60}a:hover,a:focus{color:#d9a7e4;border-bottom:solid 1px #d9a7e4}.nav{padding-top:3em}.nav li{display:inline}.nav a:link,.nav a:visited{display:inline-block;border-top:solid 1px #8571a9;border-bottom-style:none;padding-top:0.8em;padding-bottom:2em;margin-left:0;margin-right:0.7em;width:8em;text-align:left;color:#af8cc7;text-decoration:none}.nav a:hover,.nav a:focus{color:#d9a7e4;border-top:solid 1px #d9a7e4;border-bottom-style:none}.nav small{display:block;font-size:0.7em;color:#8571a9}pre{margin-top:2em;margin-bottom:1em;padding-top:2em;padding-bottom:1em;padding-left:2em;padding-right:2em;font-size:0.8em;background-color:#081f51;border:solid 1px #47487d;overflow:auto}footer{margin-top:6em;padding-top:4em;padding-bottom:6em;border-top:solid 1px #1d2d60;font-size:0.7em;color:#5c558c}footer a:link,footer a:visited{color:#9a7eb8;border-bottom:solid 1px #9a7eb8}footer a:hover,footer a:focus{color:#d9a7e4;border-bottom:solid 1px #d9a7e4}.date{font-weight:bold} */
